*{
    margin: 0;
    padding: 0;
}
/* #E06A4E,#DEB853,#E2D9A2,#789F8A,#0A373A */
body {
    background-color: #1d235a;
    font-family: Verdana, Tahoma, sans-serif;
    color: #e52165;
    font-size: 110%;
}

#check {
    position: relative;
    text-align: center;
    top: 1em;
}

input, textarea {
    background: #e52165;
    border: 1.7px solid #740400a1;
    box-shadow: 1.5px 1.5px 1.5px rgb(24, 1, 1);
    border-radius: 5px;
}

button {
    cursor: pointer;
    background: #be1b54;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    top: 5em;
    left: 46%;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #e52165;
}
h2 {
    text-align: center;
    font-size: 0.9em;
}
#principais {
    position: relative;
}

textarea, #text {
    position: relative;
    top: 3rem;
    left: 36.5%;
}
#nome {
    padding-top: 1px;
    padding-right: 25px;
    height: 19px;
}
#nomeall {
    position: relative;
    left: 28%;
}
#email {
    padding-top: 2px;
    padding-right: 25px;
    position: relative;
    left: 1px;
    height: 19px;
}
#emailall {
    position: relative;
    top: -0.6em;
    left: 38%;
}
#emailtext {
    position: relative;
    top: 0.1em;
    left: 0.25em;
}
#senha {
    padding-top: 2px;
    padding-right: 25px;
    position: relative;
    right: 4px;
    height: 18.5px;
}
#senhaall {
    position: relative;
    top: -1.36em;
    left: 50%;
}
#senhatext {
    position: relative;
    top: 0.1em;
}
button:hover, input:hover, textarea:hover {
    background: #7e1238;
}
#checktext {
    cursor: pointer;
    font-size: larger;
    position: relative;
    top: -0.2em;
}
#box{
	width:490px;
	height:90px;
	background-color:rgb(34, 53, 95);
	border-radius: 10px;
    position: absolute;
    left: 22.5em;
	}