.rgb-color {
    animation-name: rgb;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes rgb {
    08.30% { color: rgb(255, 0, 0); }
    16.60% { color: rgb(128, 0, 0); }
    24.90% { color: rgb(255, 255, 0); }
    33.32% { color: rgb(0, 255, 0); }
    41.65% { color: rgb(0, 128, 0); }
    49.98% { color: rgb(0, 255, 255); }
    58.31% { color: rgb(0, 128, 128); }
    66.64% { color: rgb(0, 0, 255); }
    74.97% { color: rgb(0, 0, 128); }
    83.30% { color: rgb(255, 0, 255); }
    91.63% { color: rgb(128, 0, 128); }
    100.0% { color: rgb(255, 0, 0); }
}