@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: rgb(31, 31, 31);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
}
#box {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    top: 20em;
}
#teste {
    position: relative;
    top: 10em;
    font-size: larger;
}